
.igx-button--raised {
  background: #653b9c;
  color: white;
  min-width: 50px!important;
  min-height: 30px!important;
  padding: 0!important;
}

.igx-drop-down__item  {
  color: white;
}

.igx-drop-down__item:hover {
  background: #261538;
}

.igx-drop-down {
  background: #1c2031;
}

#lang-btn {
  width: 25px;
  height: 25px;
  margin: 0!important;
}
